

:root {
    --app-red: #f85c5c;
    --app-black: #333333;
    --app-light-gray: #f7f7f7;
    --app-border-gray: #e8e8e8;
    --background-color: #f0f2f5;
    --device-border-color: #1c1c1c;
    --btn-hover-color: #fdfdfd;
    --btn-operator-hover-color: #4a4a4a;
    --white: #ffffff;
    --device-width: 350px;
    --device-height: 700px;
    --button-gap: 12px;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 2rem 0;
}

.device {
    width: var(--device-width);
    height: var(--device-height);
    background-color: white;
    border: 14px solid var(--device-border-color);
    border-radius: 54px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/* Notch */
.device::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 30px;
    background-color: var(--device-border-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10;
}

/* Calculator */
.calculator {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px 20px 20px 20px;
    box-sizing: border-box;
}

/* Display Area */
.display {
    background-color: var(--app-light-gray);
    border: 1px solid var(--app-border-gray);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 150px;
    /* style for scaling */
    white-space: nowrap;
    overflow: auto;
    padding-top: 50px;
}

.current-value {
    color: var(--app-black);
    font-size: 96px;
    font-weight: 300;
    line-height: 1;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: var(--button-gap);
    margin-top: auto;

}

.btn {
    font-size: 30px;
    font-weight: 500;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: background-color 0.15s ease, transform 0.1s ease;
}

.btn:active {
    transform: scale(0.95);

}

/* button specific style */
.btn.btn-number {
    background-color: var(--white);
    color: var(--app-black);
    border: 1px solid var(--app-border-gray);
}

.btn.btn-number:hover {
    background-color: var(--btn-hover-color);

}

.btn.btn-light {
    background-color: var(--white);
    color: var(--app-black);
    border: 1px solid var(--app-border-gray);
}

.btn.btn-light.btn-clear {
    color: var(--app-red);
    font-weight: 600;
}

.btn.btn-light:hover {
    background-color: var(--btn-hover-color);

}

.btn.btn-operator {
    background-color: var(--app-black);
    color: var(--white);
    font-size: 36px;
}

.btn.btn.btn-operator:hover {
    background-color: var(--btn-operator-hover-color);
}

/* 0 button spanning 2 col */

#btn-zero {
    grid-column: span 2;
    aspect-ratio: auto;
    border-radius: 24px;
    justify-content: center;
}